<div>
    This is a BugList view component <br />
    <div>

        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
            </tr>

            @foreach (var bug in Model)
            {
                <tr>
                    <td>@bug.Name</td>
                    <td>@bug.Description</td>
                    <td>@bug.Author</td>
                    <td><a href="/task/edit/@bug.Id">Edit bug</a></td>
                </tr>
            }

        </table>
    </div>
</div>