@using System.Collections.Generic
@using WorkWithEF.ViewModels
@using WorkWithEF.ViewComponents
@model IEnumerable<BugViewModel>
@{
    ViewData["Title"] = "Index Page for Bugs";
}
<h1>@ViewData["Title"]</h1>


@await Component.InvokeAsync("BugList")
