@using System.Collections.Generic
@using WorkWithEF.ViewModels

@{
    ViewBag.Title = "Create new task";
}
<h2>Create new task</h2>

@using (Html.BeginForm("CommitCreate", "Task"))
{
    @Html.Hidden("Id");
    @Html.TextBox("Name");
    @Html.TextBox("Description");
    @Html.TextBox("Performer");

    <input type="submit" name="submit" value="Create!" />
}