@using System.Collections.Generic
@using WorkWithEF.ViewModels
@model IEnumerable<TaskViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Tasks & Bugs</h1>

<a href="/task/index">Task`s list</a>
<br>
<a href="/bug/index">Bug`s list</a>