@using System.Collections.Generic
@using WorkWithEF.ViewModels

@{
    ViewData["Title"] = "Home Page";
}

<h1>Tasks & Bugs</h1>

<a href="/task/index">Tasks list</a>
<br/>
<a href="/bug/index">Bugs list</a>
<br />

