@using System.Collections.Generic
@using WorkWithEF.ViewModels
@model IEnumerable<TaskViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Tasks & Bugs</h1>
@foreach (var task in Model)
{
    <h4>@task.Name</h4>
}

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Performer</th>
    </tr>

    @foreach (var bug in Model)
    {
        <tr>
            <td>@bug.Name</td>
            <td>@bug.Description</td>
            <td>@bug.Performer</td>
        </tr>
    }

</table>